@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-1: #4f4f4f;
  --grey-2: #333333;
  --grey-3: #828282;
  --blue: #5c94e1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.218;
  color: var(--grey-3);
}

img {
  width: 100%;
  display: block;
}
