@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/* global-style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-1: #4f4f4f;
  --grey-2: #333333;
  --grey-3: #828282;
  --blue: #5c94e1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.218;
  color: var(--grey-3);
  background-color: #f2f2f2;
}

img {
  width: 100%;
  display: block;
}

/* typography */

.title {
  font-size: 1.5rem;
  color: var(--grey-2);
  font-weight: 600;
}
.subtitle,
.email,
.phone,
.profile-body-text,
.body-text {
  font-size: 1.125rem;
}

.email,
.phone {
  color: var(--grey-1);
}

.front-end .subtitle,
.design .subtitle {
  font-weight: 700;
  color: var(--grey-1);
  text-transform: uppercase;
}

.project-tag-container {
  color: var(--grey-1);
}
.project-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey-2);
}
.btn-container a {
  font-size: 1.125rem;
  text-decoration: none;
}
.service-time {
  font-size: 0.875rem;
}
.service-title {
  font-weight: 600;
  color: var(--grey-2);
}
.hobby-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--grey-2);
}
.blog-section a {
  text-decoration: none;
  color: var(--blue);
  text-transform: lowercase;
}

footer p {
  font-size: 0.875rem;
}

/* button */

.btn-primay,
.btn-outline {
  padding: 0.72em 2.16em;
  border: 1px solid var(--blue);
  border-radius: 0.75rem;
}
.btn-primay {
  background-color: var(--blue);
  color: #ffffff;
}
.btn-outline {
  color: var(--blue);
}

/* color */
.email-info img,
.phone-number img {
  filter: invert(30%) sepia(5%) saturate(13%) hue-rotate(29deg) brightness(95%)
    contrast(91%);
}
.project-bar .subtitle,
.blog-bar .subtitle {
  color: var(--grey-1);
}

.experience-section .title,
.hobbies-section .title {
  color: var(--grey-1);
}

/* layout */
/* profile card section */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 2em auto;
}
.profile-card,
.front-end,
.design,
.project-bar,
.project {
  width: 95%;
  margin: 1em auto;
  padding: 1.2em 1.2em 2.5em;
  background-color: white;
  border-radius: 0.75rem;
}

.profile-card img {
  border-radius: 0.75rem;
  margin-bottom: 1.2em;
}
.profile-card .title {
  margin-bottom: 0.3em;
}
.contact-info {
  width: 70%;
  margin: 2em 0;
}

.email-info,
.phone-number {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.email-info img,
.phone-number img {
  width: 10%;
  margin-bottom: 0.5em;
}

.email-info .email,
.phone-number .phone {
  width: 85%;
}
/* !profile card section :end */
/* tecnology section */
.technology {
  margin: 2.5em 0;
}

.front-end,
.design {
  padding: 1.2em;
}
.front-end .subtitle,
.design .subtitle,
.skill {
  margin-bottom: 1em;
}
.skill:last-child {
  margin-bottom: 0;
}

.skill-stats {
  width: 85%;
  height: 0.6rem;
  background-color: #c4c4c4;
  border-radius: 0.75rem;
  margin-top: 0.5em;
}
.progress-bar {
  width: 80%;
  height: 0.6rem;
  background-color: var(--blue);
  border-radius: 0.75rem;
  margin-top: 0.5em;
}

.pro-90 {
  width: 90%;
}

.pro-50 {
  width: 50%;
}
.pro-70 {
  width: 70%;
}
.pro-60 {
  width: 60%;
}

/* !technolgy section end */

/* project section */

.project-bar,
.project {
  padding: 1.2em;
}

.project {
  margin-bottom: 2.5em;
}
.project-tag-container {
  display: flex;
  margin: 0.75em 0 1.125em 0;
  width: 70%;
  max-width: 300px;
  justify-content: space-between;
}

.project-title {
  margin-bottom: 1.125em;
}
.project .body-text {
  margin-bottom: 2em;
}
.project img {
  border-radius: 0.75rem;
}

.btn-container {
  margin: 1.125em 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 400px;
  min-width: 270px;
}
